<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Data Deletion Policy</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>

<strong>Data Deletion Policy</strong>

<p>
At FindAndPark, we are committed to safeguarding the privacy and security of our users' data. This policy outlines how we collect and handle user data, including names, phone numbers, email addresses, and location information, as well as our data retention period and data deletion process:
</p>

<strong>Collected Data:</strong>

<p>
a. Name: We collect user-provided names to personalize the user experience and address users by their preferred name.

b. Phone Number: User-provided phone numbers are collected to facilitate communication our services and customer support.

c. Email Address: User-provided email addresses are collected to send important updates about our services.

d. Location Information: We may collect location data to ensure accurate delivery and provide users with relevant service offerings specific to their area.
</p>
<strong>Data Protection and Security:</strong>

<p>
We implement robust security measures to protect user data from unauthorized access, disclosure, alteration, or destruction. We adhere to industry best practices and comply with applicable data protection laws to ensure the confidentiality and integrity of user information.
</p>
<strong>Data Sharing:</strong>

<p>
FindAndPark does not sell or share personal data with third parties for marketing purposes without user consent unless required by law or necessary for order fulfillment, legal protection, or fraud prevention purposes. We may engage trusted service providers who assist us in delivering our services, subject to appropriate data protection agreements. 
But we are sharing anonymous data to third-party for analytics and crash detection.
</p>
<strong>Data Retention:</strong>
<p>
We retain user data for a maximum period of 120 days from the date of collection. After this retention period, we promptly delete or anonymize the data in accordance with our data deletion policy.
</p>
<strong>Data Deletion Process:</strong>
<p>
Users can request the deletion of their personal information by sending an email to findandparkapp@gmail.com, indicating their request for data deletion. We will verify the request and process it within a reasonable timeframe.
</p>


 </body>
    </html>
