{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block css %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <!-- Sweet Alert css-->
    <link href="{% static 'dashboard/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
    <!--Swiper slider css-->
    <link href="{% static 'dashboard/assets/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css"/>

{% endblock css %}

{% block style %}
    <style>
        .form-group {
            margin-top: 1rem;
        }
    </style>
{% endblock style %}


{% block content %}

    <div class="page-content">
        <div class="container-fluid">
            <div class="profile-foreground position-relative mx-n4 mt-n4">
                <div class="profile-wid-bg">
                    <img src="{% static 'images/parking.png' %}" alt="" class="profile-wid-img"/>
                </div>
            </div>
            <div class="pt-4 mb-4 mb-lg-3 pb-lg-4">
                <div class="row g-4"
                     style="align-content: center; align-items: center;">
                    <div class="col-auto">
                        <div class="avatar-lg">
                            {% if space.image %}
                                <img src="{{ space.image.url }}" alt="user-img"
                                     style="height: auto; width: 100%; object-fit: cover; border-radius: 100%;
                                     aspect-ratio: 1; border: .25rem solid #ffffff; background: #ffffff">
                            {% else %}
                                <img src="{% static 'images/404/image_not_found.png' %}" alt="user-img"
                                     style="height: auto; width: 100%; object-fit: cover; border-radius: 100%;
                                     aspect-ratio: 1; border: .25rem solid #ffffff; background: #ffffff">
                            {% endif %}
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col">
                        <div class="p-2">
                            <h3 class="text-white mb-1">{{ space.name }}</h3>
                            <div class="hstack text-white-50 gap-1">
                                <div class="me-2">
                                    <i class="mdi mdi-map-marker me-1 text-white-75 fs-16 align-middle"></i>
                                    {{ space.location }}
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
{#                    <div class="col-12 col-lg-auto order-last order-lg-0">#}
{#                        <div class="row text text-white-50 text-center">#}
{#                            <div class="col-lg-6 col-4">#}
{#                                <div class="p-2">#}
                                    {#                                    <h4 class="text-white mb-1">24.3K</h4>#}
                                    {#                                    <p class="fs-15 mb-0">Followers</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-6 col-4">#}
{#                                <div class="p-2">#}
                                    {#                                    <h4 class="text-white mb-1">1.3K</h4>#}
                                    {#                                    <p class="fs-15 mb-0">Following</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <!--end col-->

                </div>
                <!--end row-->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div class="d-flex justify-content-end">
                            <div class="flex-shrink-0">
                                <a href="" class="btn d-inline-block btn-success btn-update custom-btn"
                                   data-bs-toggle="modal" data-bs-target="#updateModal"
                                   data-id="{{ space.id }}">
                                    <i class="mdi mdi-pencil fs-16"></i>
                                    Edit Space</a>
                                <a href="" data-value="{{ space.id }}"
                                   data-bs-toggle="modal"
                                   data-bs-target="#deleteConfirmModal"
                                   class="btn btn-danger d-inline-block deleteConfirmModalClass">
                                    <i class="mdi mdi-delete fs-16"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content pt-4 text-muted">
                            <div class="tab-pane active" id="overview-tab" role="tabpanel">
                                <div class="row">
                                    <div class="col-xxl-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-3">Info</h5>
                                                <div class="table-responsive">
                                                    <table class="table table-borderless mb-0">
                                                        <tbody>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Full Name:</th>
                                                            <td class="text-muted">{{ space.name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Location:</th>
                                                            <td class="text-muted">{{ space.location }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">About:</th>
                                                            <td class="text-muted">{{ space.about }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-8">
                                        <div class="card">
                                            <div class="card-body">
                                                {#                                                <h5 class="card-title mb-3">About</h5>#}
                                                <div class="table-responsive">
                                                    <table class="table w-100">
                                                        <tr>
                                                            <th class="bg-light">Space Type</th>
                                                            <td>
                                                                {% for s in space.space_type %}
                                                                    {% if s == "EV Charging" %}
                                                                        <span class="text-success">{{ s }}</span>
                                                                    {% else %}
                                                                        {{ s }}
                                                                    {% endif %}
                                                                    {% if space.space_type|length > 1 %}
                                                                        <br>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="bg-light">Vehicle Type</th>
                                                            <td>{{ space.vehicle_types }}</td>
                                                        </tr>
                                                        <tr>

                                                            <th class="bg-light">Number of Slots</th>
                                                            <td>
                                                                {% if "Parking" in space.space_type %}
                                                                    Parking Slots: {{ space.parking_slots }}
                                                                {% endif %}
                                                                {% if space.space_type|length > 1 %}
                                                                    <br>
                                                                {% endif %}
                                                                {% if "EV Charging" in space.space_type %}
                                                                    <span class="text-success">EV Slots: {{ space.charging_slots }}</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="bg-light">Open Status</th>
                                                            <td>
                                                                {% if space.open_status == "Closed" %}
                                                                    <span class="text-danger">{{ space.open_status }}</span>
                                                                {% else %}
                                                                    <span class="text-success">{{ space.open_status }}</span>
                                                                {% endif %}
                                                                {% if space.open_status == "Open" %}
                                                                    <br>
                                                                    From: {{ space.opening_time }}
                                                                    <br>
                                                                    To: {{ space.closing_time }}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% if "EV Charging" in space.space_type %}
                                                            <tr>
                                                                <th class="bg-light">Charging Types</th>
                                                                <td>
                                                                    {{ space.charging_types }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="bg-light">Charging Watt</th>
                                                                <td>
                                                                    {{ space.charging_watt }}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if "Parking" in space.space_type %}
                                                            <tr>
                                                                <th class="bg-light">Parking Fare</th>
                                                                <td>
                                                                    ₹{{ space.parking_fare }}/hr
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    </table>
                                                </div>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <div class="d-flex mt-4">
                                                            <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                                <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                                    <i class="mdi mdi-map-marker"></i>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1 overflow-hidden">
                                                                <p class="mb-1">Location</p>
                                                                <h6 class="text-truncate mb-0">
                                                                    <a href="{{ space.map_url }}" class="fw-semibold
                                                                    fs-15" target="_blank">
                                                                        Find on Maps</a></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    {#                                                    <div class="col-6 col-md-4">#}
                                                    {#                                                        <div class="d-flex mt-4">#}
                                                    {#                                                            <div class="flex-shrink-0 avatar-xs align-self-center me-3">#}
                                                    {#                                                                <div class="avatar-title bg-light rounded-circle fs-16 text-primary">#}
                                                    {#                                                                    <i class="mdi mdi-web"></i>#}
                                                    {#                                                                </div>#}
                                                    {#                                                            </div>#}
                                                    {#                                                            <div class="flex-grow-1 overflow-hidden">#}
                                                    {#                                                                <p class="mb-1">Website</p>#}
                                                    {#                                                                <a href="{{ space.webs }}" class="fw-semibold fs-15"#}
                                                    {#                                                                >{{ space.map_url }}</a>#}
                                                    {#                                                            </div>#}
                                                    {#                                                        </div>#}
                                                    {#                                                    </div>#}
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end card-body-->
                                        </div><!-- end card -->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                        <!--end tab-content-->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            {% include "dashboard/includes/modals/update.html" with title="Space" %}
            {% include "dashboard/includes/modals/delete.html" with title1="a Space" title2="Space" %}

        </div><!-- container-fluid -->
    </div>


{% endblock content %}

{% block js %}

    <script src="{% static 'dashboard/assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/pages/modal.init.js' %}"></script>

{% endblock js %}

{% block script %}


    <script>
        $(function () {
            $(".btn-update").click(function () {
                $('#updateModal').modal('toggle');
                var id = $(this).data("id")
                var update_url = '/update_space/' + id + '/' + 2 + '/'
                $('#update-form').attr('action', update_url)
                $.ajax({
                    type: 'GET',
                    url: update_url,
                    beforeSend: function () {
                        $('#update-form-box').addClass('hidden');
                        $('#btn-modal-update').addClass('hidden');
                        $('#update-loading').removeClass('hidden');
                    },
                    success: function (response) {
                        $('#update-form-box').removeClass('hidden');
                        $('#btn-modal-update').removeClass('hidden');
                        $('#update-loading').addClass('hidden');
                        $('#update-form-box').html(response)
                    },
                    error: function (error) {
                        alert(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            });
        });
    </script>

    <script>
        $('.deleteConfirmModalClass').click(function () {
            $('#delete-record').data('value', $(this).data('value'))
            $('#delete-record').click(function () {
                $.ajax({
                    url: '/delete_space/' + $(this).data('value') + '/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        window.location.reload();
                    }
                })
            })
        });
    </script>


{% endblock script %}
