{% load static %}
<!-- Update Modals -->
<div id="updateModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h5 class="modal-title" id="updateModalLabel">Update {{ title }}</h5>
            </div>
            <div class="modal-body pt-0">
                <form id="update-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="update-form-box"></div>
                </form>
            </div>
            <div class="modal-footer border-top">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="update-form">Update</button>
            </div>
        </div>
    </div>
</div>
